<div class="flex justify-center items-center h-screen">
  @if ( detalleLectura$| async; as item  ) {
  <div class="recibo-container" id="recibo">
    <!-- Header con logo -->
    <div class="recibo-header">
      <img src="logo.png" width="400" alt="Logo" />
    </div>

    <!-- Información del cliente -->
    <div class="recibo-info">
      <p><span>Código Cliente:</span> {{item.medidorCliente[0].codigoCliente}}</p>
      <p><span>Nro Medidor:</span> {{item.medidorCliente[0].numeroMedidor}}</p>
    </div>

    <!-- Datos del recibo -->
    <div class="recibo-datos">
      <p><span>Nombre:</span> {{item.medidorCliente[0].nombre}} {{item.medidorCliente[0].apellidoPaterno}}  {{item.medidorCliente[0].apellidoMaterno}}</p>
      <p><span>Dirección:</span> {{item.medidorCliente[0].direccion}}</p>
      <p><span>Categoría:</span> {{item.medidorCliente[0].tarifa}}</p>
      <p><span>Fecha de lectura:</span> {{ item.lecturas[item.lecturas.length - 1].fecha  | date:'dd/MM/yyyy HH:mm:ss':'UTC'}}</p>
      <p><span>Fecha de vencimiento:</span> {{item.lecturas[item.lecturas.length -1].fechaVencimiento | date:'dd/MM/yyyy'}}</p>
    </div>

    <div class="linea"></div>

    <!-- Historial de pagos -->
    <div class="recibo-pagos">
      <h3>Historial de Lecturas</h3>
      <div class="recibo-tabla">
        <table border="1" cellspacing="0" cellpadding="3">
          <thead>
            <tr>
              <th>Mes</th>
              <th colspan="2">
                <div style="text-align: center; font-weight: bold;">Lectura</div>
                <div style="display: flex; justify-content: space-between; width: 100%;">
                  <span style="text-align: left;">Ant</span>
                  <span style="text-align: right;">Act</span>
                </div>
              </th>
              <th>m³</th>
              <th>Imp</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
              @for (lectura of item.lecturas; track $index) {
              <tr>
              <td>{{lectura.mes}}</td>
              <td>{{lectura.lecturaAnterior}}</td>
              <td>{{lectura.lecturaActual}}</td>
              <td>{{lectura.consumoTotal}}</td>
              <td>{{lectura.costoApagar}} Bs</td>
              <td>{{lectura.estado}}</td>
            </tr>
            }
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">Total a Pagar</td>
              <td colspan="2">{{item.totalApagar}} Bs</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  }
</div>

<!-- Botón para imprimir -->
<div class="mt-4 text-center">
  <button class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-700 transition" onclick="window.print()">
    Imprimir Recibo
  </button>
</div>
