<div>
  <div class="w-full h-full max-w-full mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
      <div class="md:col-span-12 order-1">
        <div class="overflow-x-auto  rounded-lg shadow-sm">
          <table class="min-w-full divide-y divide-gray-200 text-sm">
            <thead class="bg-gray-100">
              <tr>
                <th>
                  <input [(ngModel)]="codigo" type="text" placeholder="Código"
                    class="w-full px-2 py-1 border rounded" />
                </th>

                <th>
                  <input [(ngModel)]="ci" type="text" placeholder="CI" class="w-full px-2 py-1 border rounded" />
                </th>

                <th>
                  <input [(ngModel)]="nombre" type="text" placeholder="Nombre"
                    class="w-full px-2 py-1 border rounded" />
                </th>

                <th>
                  <input [(ngModel)]="apellidoPaterno" type="text" placeholder="Apellido Paterno"
                    class="w-full px-2 py-1 border rounded" />
                </th>

                <th>
                  <input [(ngModel)]="apellidoMaterno" type="text" placeholder="Apellido Materno"
                    class="w-full px-2 py-1 border rounded" />
                </th>

                <th>
                  <input [(ngModel)]="direccion" type="text" placeholder="Dirección"
                    class="w-full px-2 py-1 border rounded" />
                </th>

                <th>
                  <input [(ngModel)]="numeroMedidor" type="text" placeholder="N° Medidor"
                    class="w-full px-2 py-1 border rounded" />
                </th>

                <th>
                  <select [(ngModel)]="tarifa"
                    class="w-full px-3 py-2 border
                                                   border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                    <option value="">Todos</option>
                    @for (item of tarifas$ | async; track $index) {
                    <option value={{item._id}}>{{item.nombre}}</option>
                    }

                  </select>
                </th>

                <th>
                  <select [(ngModel)]="estado" class="w-full rounded-lg border border-gray-300 px-2 py-1">
                    <option value="">Todos</option>
                    <option value="ACTIVO">ACTIVO</option>
                    <option value="INACTIVO">INACTIVO</option>
                    <option value="MANTENIMIENTO">MANTENIMIENTO</option>
                    <option value="EN_CORTE">EN CORTE</option>
                  </select>
                </th>

                <th>
                  <button (click)="btnBuscar()"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Buscar</button>
                </th>
              </tr>
              <tr>
                <th class="px-4 py-2 text-left font-medium text-gray-700">Código Cliente</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700">CI</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700">Nombre</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700">Apellido Paterno</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700">Apellido Materno</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700">Dirección</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700">Número de Medidor</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700">Tarifa</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700">Estado</th>
                <th class="px-4 py-2 text-left font-medium text-gray-700">Acción</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              @for (item of listarMedidorClientes$ | async; track $index) {
              <tr>
                <td class="px-4 py-2">{{item.codigo}}</td>
                <td class="px-4 py-2">{{item.ci}}</td>
                <td class="px-4 py-2">{{item.nombre}}</td>
                <td class="px-4 py-2">{{item.apellidoPaterno}}</td>
                <td class="px-4 py-2">{{item.apellidoMaterno}}</td>
                <td class="px-4 py-2">{{item.direccion}}</td>
                <td class="px-4 py-2">{{item.numeroMedidor}}</td>
                <td class="px-4 py-2">{{item.tarifa}}</td>
                <td class="px-4 py-2">
                  <span class="px-2 py-1 bg-green-100 text-green-700 rounded text-xs font-medium">{{item.estado}}</span>
                </td>
                <td class="px-4 py-2">
                  <button class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700 text-xs">Editar</button>
                </td>
              </tr>
              }



              <!-- Agrega más filas según necesites -->
            </tbody>
          </table>
          <mat-paginator [length]="paginas" [pageSize]="1" [pageSizeOptions]="[1]" (page)="onPageChange($event)"
            aria-label="Select page">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>