@if (isAutenticacion()) {
<div
	class="relative h-screen bg-gray-100">


	<!-- SIDEBAR OVERLAY -->
	@if (drawerOpen) {
	<div class="fixed top-16 left-0 w-full h-[calc(100%-64px)]" (click)="toggleDrawer()"></div>}

	<!-- SIDEBAR -->
	<aside
		[class.translate-x-0]="drawerOpen" [class.-translate-x-full]="!drawerOpen" class="fixed top-16 left-0 w-64 h-[calc(100%-64px)] bg-white shadow-md flex flex-col transition-transform duration-300 z-50">
		<!-- Usuario -->
		<div
			class="flex items-center p-4 border-b bg-white shadow-md rounded-lg hover:bg-gray-50 transition-all duration-200">
			<!-- Avatar -->
			<div class="w-12 h-12  from-blue-400 to-purple-500 rounded-full flex items-center justify-center text-white text-2xl font-bold shadow-inner">
				👤
			</div>

			<!-- Info del usuario -->
			<div class="ml-4 flex flex-col">
				<div class="font-semibold text-gray-900 text-lg">
					{{ usuario().nombre }}
					{{ usuario().apellidoMaterno }}
				</div>
				<div class="text-sm text-gray-500 mt-1">
					Rol:
					<span class="font-medium text-gray-700">{{ usuario().rol }}</span>
				</div>
			</div>


		</div>


		<nav class="flex-1 overflow-y-auto">
			@if (usuario().rol== "ADMINISTRADOR" ||  usuario().rol== "LECTURADOR") {
			<a routerLink="/inicio" class="flex items-center p-3 hover:bg-gray-100">
				<span class="material-icons">dashboard</span>
				<span class="ml-2">Dashboard</span>
			</a>
		}
				@if (usuario().rol== "ADMINISTRADOR") {
			<div>
				<button (click)="toggleSubmenu('medidor')" class="flex items-center p-3 w-full hover:bg-gray-100">
					<span class="material-icons">speed</span>
					<span class="ml-2">Medidor</span>
					<span class="ml-auto material-icons">
						{{ expandedMenus['medidor'] ? 'expand_less' : 'expand_more' }}
					</span>
				</button>
				@if(expandedMenus['medidor']) {
			
				<div class="ml-6 flex flex-col">
					<a routerLink="/medidor/crear" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">add</span>
						<span class="ml-2 text-sm">Crear</span>
					</a>
					<a routerLink="/medidor/listar" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">list</span>
						<span class="ml-2 text-sm">Listar</span>
					</a>
					<a routerLink="/medidor/moroso" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">list</span>
						<span class="ml-2 text-sm">Morosos</span>
					</a>
				</div>}
			
			</div>
				}
			<!-- Lecturas -->
				@if (usuario().rol== "ADMINISTRADOR" ||  usuario().rol== "LECTURADOR") {
			<div>
				<button (click)="toggleSubmenu('lecturas')" class="flex items-center p-3 w-full hover:bg-gray-100">
					<span class="material-icons">book</span>
					<span class="ml-2">Lecturas</span>
					<span class="ml-auto material-icons">
						{{ expandedMenus['lecturas'] ? 'expand_less' : 'expand_more' }}
					</span>
				</button>
				@if(expandedMenus['lecturas']) {
				<div class="ml-6 flex flex-col">
					<a routerLink="/lectura/realizar" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">add</span>
						<span class="ml-2 text-sm">Crear</span>
					</a>
					<a routerLink="/lectura/listar" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">list</span>
						<span class="ml-2 text-sm">Listar</span>
					</a>
				</div>
				}
			</div>
		}
		
				@if (usuario().rol== "ADMINISTRADOR") {
			<div>
				<button (click)="toggleSubmenu('tarifa')" class="flex items-center p-3 w-full hover:bg-gray-100">
					<span class="material-icons">credit_card</span>
					<span class="ml-2">Tarifa</span>
					<span class="ml-auto material-icons">
						{{ expandedMenus['tarifa'] ? 'expand_less' : 'expand_more' }}
					</span>
				</button>
				@if (expandedMenus['tarifa']) {
				<div class="ml-6 flex flex-col">
					<a routerLink="/tarifa/listar" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">list</span>
						<span class="ml-2 text-sm">Listar tarifas</span>
					</a>
				</div>
				}

			</div>
		}
			
				@if (usuario().rol== "ADMINISTRADOR") {
			<div>
				<button (click)="toggleSubmenu('gastos')" class="flex items-center p-3 w-full hover:bg-gray-100">
					<span class="material-icons">account_balance_wallet</span>
					<span class="ml-2">Gastos</span>
					<span class="ml-auto material-icons">
						{{ expandedMenus['gastos'] ? 'expand_less' : 'expand_more' }}
					</span>
				</button>
				@if(expandedMenus['gastos']) {
				<div class="ml-6 flex flex-col">
					<a routerLink="/gastos/crear" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">add</span>
						<span class="ml-2 text-sm">Registrar</span>
					</a>
					<a routerLink="/gastos/listar" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">list</span>
						<span class="ml-2 text-sm">Listar</span>
					</a>
					<a routerLink="/gastos/categorias" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">settings</span>
						<span class="ml-2 text-sm">Categorías</span>
					</a>
				</div>
				}
			</div>
		}
		
				@if (usuario().rol== "ADMINISTRADOR") {
			<!-- Pagos -->
			<div>
				<button (click)="toggleSubmenu('pagos')" class="flex items-center p-3 w-full hover:bg-gray-100">
					<span class="material-icons">credit_card</span>
					<span class="ml-2">Pagos</span>
					<span class="ml-auto material-icons">
						{{ expandedMenus['pagos'] ? 'expand_less' : 'expand_more' }}
					</span>
				</button>
				@if(expandedMenus['pagos']) {
				<div class="ml-6 flex flex-col">
					<a routerLink="/pago/realizar" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">add</span>
						<span class="ml-2 text-sm">Realizar pago</span>
					</a>
					<a routerLink="/pago/listar" class="flex items-center p-2 hover:bg-gray-100">
						<span class="material-icons text-sm">list</span>
						<span class="ml-2 text-sm">Listar pagos</span>
					</a>
				</div>
				}
			</div>
		}
			
				@if (usuario().rol== "ADMINISTRADOR") {
			<a routerLink="/usuario/listar" class="flex items-center p-3 hover:bg-gray-100">
				<span class="material-icons">group</span>
				<span class="ml-2">Usuarios</span>
			</a>

		}
			<!-- Logout -->
			<a (click)="serraSession()" class="flex items-center p-3 hover:bg-gray-100 mt-auto">
				<span class="material-icons">logout</span>
				<span class="ml-2">Cerrar sesión</span>
			</a>
		</nav>
	</aside>

	<!-- MAIN CONTENT -->
	<div
		class="flex-1 flex flex-col h-full">
		<!-- TOPBAR -->
		<header class="flex items-center bg-blue-600 text-white p-4 shadow z-10 relative">
			<button (click)="toggleDrawer()" class="material-icons mr-4">menu</button>
			<h1 class="text-lg font-semibold">Sistema de Agua</h1>
		</header>


		<main class="flex-1 overflow-auto p-4 relative z-0">
			<router-outlet></router-outlet>
		</main>
	</div>

</div>
} @else {
<main class="flex-1 overflow-auto p-4 relative z-0">
	<router-outlet></router-outlet>
</main>
}
