@if (isOpen) {
 <div class="fixed inset-0 flex items-center justify-center z-50 bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">

    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">Editar Cliente</h2>
      <button (click)="cerrarModal()" class="text-xl">✕</button>
    </div>

    <form (submit)="guardarCliente($event)" class="space-y-4">

      <!-- CI -->
      <div>
        <input type="text" placeholder="CI" [field]="form.ci" class="w-full border rounded px-3 py-2" />

        @for (e of form.ci().errors(); track $index) {
        @if(this.form().touched()) {
        <p class="text-red-500 text-sm mt-1">
          {{ e.message }}
        </p>
        }

        }

      </div>

      <!-- Nombre -->
      <div>
        <input type="text" placeholder="Nombre" [field]="form.nombre" class="w-full border rounded px-3 py-2" />
        @for (e of form.nombre().errors(); track $index) {
        @if(this.form().touched()) {
        <p class="text-red-500 text-sm mt-1">
          {{ e.message }}
        </p>
        }
        }
      </div>

      <!-- Apellido Paterno -->
      <div>
        <input type="text" placeholder="Apellido Paterno" [field]="form.apellidoPaterno"
          class="w-full border rounded px-3 py-2" />
        @for (e of form.apellidoPaterno().errors(); track $index) {
        @if(this.form().touched()) {
        <p class="text-red-500 text-sm mt-1">
          {{ e.message }}
        </p>
        }
        }
      </div>

      <!-- Apellido Materno -->
      <div>
        <input type="text" placeholder="Apellido Materno" [field]="form.apellidoMaterno"
          class="w-full border rounded px-3 py-2" />
        @for (e of form.apellidoMaterno().errors(); track $index) {
        @if(this.form().touched()) {
        <p class="text-red-500 text-sm mt-1">
          {{ e.message }}
        </p>
        }
        }
      </div>

      <!-- Celular -->
      <div>
        <input type="text" placeholder="Celular" [field]="form.celular" class="w-full border rounded px-3 py-2" />
        @for (e of form.celular().errors(); track $index) {
        @if(this.form().touched()) {
        <p class="text-red-500 text-sm mt-1">
          {{ e.message }}
        </p>
        }
        }
      </div>
      <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded disabled:opacity-50">
        Guardar
      </button>
    </form>



  </div>
</div>
}
